@charset "UTF-8";
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.form-horizontal .col-md-12{
    padding: 10px;
}
body{
    margin-top: 110px;
}
.img-on-table{
    max-width: 200px;
}